body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000px;
  background-color: #a2a2a2;
}
.paper {
  //min-width: 800px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
  position: absolute;
}
.paper.invite {
  width: 320px;
  height: 450px;
  transform: rotateZ(5deg);
  left: 50%;
  background:url(https://github.com/Allyssaur/Portfolio_Draft/blob/main/Images/PORTFOLIOINVITESINFO-01-01-01.png?raw=true);
  background-size: auto 450px;
}
.paper.rsvp {
  width: 180px;
  height: 250px;
  transform: rotateZ(-1deg);
  top:50%;
  left: 40%;
  background:url(https://github.com/Allyssaur/Portfolio_Draft/blob/main/Images/PORTFOLIO_RSVPFRONT-01.png?raw=true);
  background-size: auto 250px;
}
.paper.details {
  width: 320px;
  height: 450px;
  top: 10px;
  transform: rotateZ(-5deg);
  background:url(https://github.com/Allyssaur/Portfolio_Draft/blob/main/Images/PORTFOLIODETAILS-01.png?raw=true);
  background-size: auto 450px;
}
.card{
  position:absolute;
  width:315px;
  height:450px;
  left:40%;
  top:50%;
  z-index: 1;
  transform:translate(-50%,-50%);
  // background:url( https://raw.githubusercontent.com/claudz1/CodepenImages/master/pattern.png) repeat;
  background-image: linear-gradient(#471d47, #471d47);
transform-style:preserve-3d;
  perspective:2000px;
   /*first box-shadow value is for thr car interio and second for the outer box-shadow i.e we can have multiple box-shadows when separated by a comma*/
  box-shadow:inset 200px 0 50px rgba(0,0,0,.5),0 20px 100px rgba(0,0,0,.5);
  transition:1s;
}
.card:hover{
  transform:translate(-50%,-50%) rotate(-10deg);
  perspective:2000px;
  z-index:0;
  /*on hover remove the box shadow*/
  box-shadow:inset 20px 0 50px rgba(0,0,0,.5),0 20px 100px rgba(0,0,0,.5);
}
//positions the top level
/*for the width*/
.card:before{
  content:'';
  position:absolute;
  top:-5px;
  left:0;
  width:100%;
  height:5px;
   background: #471d47;
  transform-origin:left;
  transform:skewX(-45deg);
}
//positions the right side
/*forthe height*/
.card:after{
  content:'';
  position:absolute;
  top:0;
  right:-5px;
  width:5px;
  height:100%;
  transform-origin:left;
  transform:skewy(-45deg);
  
}
.card .imgBox{
  width:100%;
  height:100%;
  position:relative;
  transform-origin:left;
  background: url(https://github.com/Allyssaur/Portfolio_Draft/blob/main/PORTFOLIOINVITESCOVERFRONT-01.png?raw=true);
  background-size: auto 450px;
  transition:1.5s;
}
.card:hover .imgBox{
  transform:rotatey(-135deg);
  /* remove 'bg' if you don't like the way the cover disappears when hovering, but will appear backwards when open */
  /*background:#471d47;*/
}
@keyframes animateone{
  0%{
    background-position:0px 0px;
  }
   100%{
    background-position:200px 298px;
  }
  
}
.paper.envinside {
  width:430px;
  height:445px;
  left: 5%;
  top: 5%;
  background-image: url(https://github.com/Allyssaur/Portfolio_Draft/blob/main/Images/envelope.png?raw=true);
  background-size: auto 445px;
  transform: rotateZ(10deg);
  z-index: -2;
}
.paper.envoutside {
   width:430px;
  height:290px;
  left: 1%;
  top: 45%;
  background-image: url(https://github.com/Allyssaur/Portfolio_Draft/blob/main/Images/envelope.png?raw=true);
  background-size: 430px auto;
  transform: rotateZ(-10deg);
  z-index: -1;
}